---
import Layout from "../layouts/AboutLayout.astro";
---

<Layout>
    <div>
        <h6>
            This website contains materials about projects that presented at the
            "Tools of the Trade: the Way Forward" conference from 14-16 March
            2023. We only post the materials that are made available by the
            presenters. If you have any questions about the content of the
            materials, please contact the presenter directly.
        </h6>
        <h6>
            For more information about the conference, please visit the <a
                href="https://sites.harvard.edu/tools-of-the-trade/"
                target="_blank">conference website</a
            >.
        </h6>
        <h6>
            Download the conference program <a href="public/pdf/program.pdf"
                >here</a
            >.
        </h6>
    </div>
</Layout>
